* {
    color: aliceblue;
}
/*title*/
h1 {
    text-align: center;
}
/*navigation*/
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 15px;
}
/*article*/
.section { 
    padding: 10px;
    margin: 10px;
}
/*footer*/
.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 15px;
}
.social-media > li {
    margin: 0px 5px 0px 5px;
}